.Rproj.user
.Rhistory
.RData
.Ruserdata
*.eds
*.edt
*.html
/excel files
/archive
/qPCR analysis/.Rproj*
/qPCR analysis/Extra*
/qPCR analysis/Standards/
/qPCR analysis/Archive/
/RDML_files
/rdmlpython
/.spyproject
*.png
*.jp*
/LinRegPCR
*.pdf
*.xls#
scripts_general_fns/__pycache__/
scripts_general_fns/.ipynb_checkpoints/
